<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/pcbang-chain</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.connection.username">javapp</property>
        <property name="hibernate.connection.password">azerty123&amp;é"</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping class="src.model.Authentication"/>
        <mapping class="src.model.Customer"/>
        <mapping class="src.model.Place"/>
        <mapping class="src.model.Timeslot"/>
        <mapping class="src.model.Employee"/>
        <mapping class="src.model.Employee_history"/>
        <mapping class="src.model.Feedback"/>
        <mapping class="src.model.Credits"/>
        <mapping class="src.model.Subscription"/>
        <mapping class="src.model.Payment_method"/>
        <mapping class="src.model.Connection_method"/>
        <mapping class="src.model.Topup"/>
        <mapping class="src.model.Component"/>
        <mapping class="src.model.Components_list"/>
        <mapping class="src.model.Computers"/>
        <mapping class="src.model.Connection"/>
        <mapping class="src.model.Fix"/>
        <mapping class="src.model.Game"/>
        <mapping class="src.model.Subscribe"/>
        <mapping class="src.model.User_request"/>
        <mapping class="src.model.Warning_message"/>
        <mapping class="src.model.Billing"/>
        <mapping class="src.model.Product"/>
        <mapping class="src.model.Provide"/>
        <mapping class="src.model.Recipe"/>
        <mapping class="src.model.Supplier"/>
        <mapping class="src.model.Serve"/>
        <mapping class="src.model.Order"/>
    </session-factory>
</hibernate-configuration>