<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/pcbang-chain</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.connection.username">javapp</property>
        <property name="hibernate.connection.password">azerty123&amp;é"</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <mapping class="src.model.Authentication"/>
        <mapping class="src.model.Customer"/>
        <mapping class="src.model.Place"/>
        <mapping class="src.model.Timeslot"/>
        <mapping class="src.model.Employee"/>
        <mapping class="src.model.Employee_history"/>
    </session-factory>
</hibernate-configuration>